body {
  /* 👇🏻 Definindo a fonte de tudo que tiver no body */
  font-family: 'Open Sans', sans-serif;

  /* 👇🏻 Tudo que é elemento de texto eu consigo centralizar com essa propriedade */
  text-align: center;

  /* 👇🏻 Por padrão o navegadores adicionam uma margin no body, aqui eu estou zerando essas margin */
  margin: 0;
}

/* 👇🏻 Defino o estilo de um id */
#hero {
  /* 👇🏻 Defino a largura do elemento */
  width: 592px;

  /* 👇🏻 Tenho um shorthand que pode se dizer que é o agrupamento das 4 margin, top, left, bottom e right, o valor `auto` eu estou estou centralizando  container `#hero`, `0` eu estou removendo margin superior, `72px` eu estou adicionando um espaçamento para baico do `#hero` */
  margin: 0 auto 72px;
}

/* 👇🏻 Estou selecionando a imagem que está dentro container `#hero` */
#hero img {
  /* 👇🏻 Espaçamento a baixo do elemento */
  margin-bottom: 72px;
}

h1 {
  /* 👇🏻 Definindo a fonte de todos os h1 */
  font-family: 'Inter', sans-serif;

  /* 👇🏻 O tamanho da fonte em formato de pixel */
  font-size: 49px;

  /* 👇🏻 A altura da linha */
  line-height: 56px;

  /* 👇🏻 Tenho o peso da fonte que por padrão todo `h1` aplicado em uma página web é bold, que nessa caso eu estou definindo como normal */
  font-weight: normal;

  /* 👇🏻 Espaçamento de 32px para baixo no `h1` */
  margin-bottom: 32px;
}

/* 👇🏻 `h1 span` defino que estou acessando o `span` que estiver dentro da `h1` */
h1 span {
  /* 👇🏻 Tenho o peso da fonte, que nesse caso estou dizendo que a minha fonte é bold*/
  font-weight: bold;
}

/* 👇🏻 `span, a` defino que estou atribuindo o estilos a essas duas propriedade */
span,
a {
  /* 👇🏻 Definindo a cor de tudo de todos elemente que estiver dentro do span */
  color: #ff9900;
}

/* 👇🏻 Definindo stilo a propriedade `p, #footer` */
p,
#footer {
  /* 👇🏻 Definindo coloração das tags <p> */
  color: #7d7987;

  /* 👇🏻 Definindo o tamanho da fonte */
  font-size: 14px;

  /* 👇🏻 Definindo a altura da linha */
  line-height: 28px;
}

/* 👇🏻  `a + a` pegue uma tag `a` que anterior a ela tenha uma outra tag `a` */
#footer a + a {
  /* 👇🏻 Definindo um espaçamento nas tag `a` de 28 píxel */
  margin-left: 28px;
}

/* 👇🏻 Dando corpo para linha */
#line {
  /* 👇🏻 Definindo largura e altura da linha */
  width: 568px;
  height: 0;

  /* 👇🏻 Centralizando a linha e definindo um bottom de 8px */
  margin: 0 auto 8px;

  /*  👇🏻 Definindo o formato da linha a parti de borda */
  border: 1px solid #eceff2;
}

/* 👇🏻 Defino que a imagem vai ser fixa na página (right, top, bottom e left define onde será posionado)  */
#balls {
  position: fixed;
  right: 0;
  bottom: 0;
}
